@import '../../stylesheets/variables';

.content {
    padding-bottom: 100px;
    padding-top: 100px;

    &[data-observing='true'] {
        @extend %observing;
    }

    &[data-intersection='true'] {
        @extend %intersection;
    }

    &.dark {
        background-color: black;

        p,
        h1,
        h2,
        h3,
        h4,
        h5 {
            color: $color-white;
        }
    }

    &.gray {
        background-color: $gray-bg;
    }

    .inner {
        @extend %component-wrap;
        height: 100%;
        width: 100%;

        .text {
            margin-bottom: 75px;

            > h2 {
                margin-bottom: 40px;
            }
        }

        .two,
        .three {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-left: -$gutter;
            margin-right: -$gutter;
        }

        .more {
            //margin-bottom: 100px;
            margin-top: 75px;
            text-align: center;
        }
    }

    @media (max-width: $mobile-max-width) {
        padding-bottom: 50px;
        padding-top: 50px;

        .inner {
            .two,
            .three {
                justify-content: space-evenly;
            }

            .more {
                margin-top: 25px;
            }

            .single {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                margin-left: -$gutter;
                margin-right: -$gutter;
            }
        }
    }
}
