@import '../../stylesheets/variables';

.content {
    background-color: black;
    padding-bottom: 50px;
    padding-top: 100px;

    p,
    h1,
    h2,
    h3,
    h4 {
        color: #FFF;
    }

    &[data-observing='true'] {
        .inner {
            opacity: 0;
            transform: translate3d(0, 20px, 0);
            transition: .5s 1s;
        }
    }
    &[data-intersection='true'] {
        .inner {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    .inner {
        .component-wrap;
        height: 100%;
        width: 100%;

        .text {
            color: inherit;
            padding-bottom: 40px;

            > h1 {
                margin-bottom: 40px;
            }

            > p {
                margin-bottom: 100px;
            }
        }
    }


    @media (max-width: @mobile-l-width) {
        margin-bottom: 20px;

        .inner {
            margin-top: 6px;
        }
    }
}
