@import '../../stylesheets/variables';

.content {
    padding-bottom: 50px;
    padding-top: 100px;

    &[data-observing='true'] {
        .inner {
            opacity: 0;
            transform: translate3d(0, 20px, 0);
            transition: .5s 1s;
        }
    }
    &[data-intersection='true'] {
        .inner {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    &.inverted {
        background-color: black;

        p,
        h1,
        h2,
        h3,
        h4 {
            color: #FFF;
        }
    }

    .inner {
        .component-wrap;
        height: 100%;
        width: 100%;

        .text {
            margin-bottom: 75px;

            > h1 {
                margin-bottom: 40px;
            }
        }

        .more {
            margin-bottom: 100px;
            margin-top: 75px;
            text-align: center;
        }
    }
}
