@import '../../stylesheets/variables';

.content {
    padding-bottom: 50px;
    padding-top: 50px;

    &[data-observing='true'] {
        @extend %observing;
    }
    &[data-intersection='true'] {
        @extend %intersection;
    }

    &.gray {
        background-color: $gray-bg;
    }

    &.dark {
        background-color: $color-black;
        color: $color-white;
    }

    .inner {
        height: 100%;
        width: 100%;

        p {
            color: inherit;
        }

        .buttons {
            margin-bottom: 50px;
            margin-top: 50px;
            text-align: center;

            a:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}
