@import '../../stylesheets/variables';

.button,
button {
    align-items: center;
    border-radius: 2px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;

    span {
        line-height: 1;
    }

    &.small {
        color: inherit;
    }

    &.filled,
    &.outline {
        color: inherit;
    }

    &.filled {
        @include btn-filled;
    }

    &.large {
        @include btn-large;
    }

    &.medium {
        @include btn-medium;
    }

    &.primary {
        @include btn-primary;
    }

    &.secondary {
        @include btn-secondary;
    }

    &.inverted,
    &.gray,
    &.dark {
        font-size: inherit;
    }
}
