@import '../../components/page/index';

@import '../../stylesheets/variables';

.container {
    @extend %component-wrap;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    .media {
        background: url('/404.png') center no-repeat;
        background-size: contain;
        height: 100%;
        width: 100%;
        margin-right: 30px;
        max-width: 60%;
    }

    .text {
        margin: 0 auto;
        max-width: 650px;
        min-width: 550px;

        ul {
            list-style-position: inside;

            li {
                margin-bottom: 10px;
            }
        }
    }

    .btnWrap {
        display: flex;

        > a:first-child {
            margin-right: 30px;
        }
    }

    .btn {
        align-items: center;
        border-radius: 2px;
        display: inline-flex;
        justify-content: center;
        text-align: center;
        text-decoration: none;

        background-color: $color-black;
        border: 2px solid $color-black;
        color: $color-white;
        padding: 0 15px;
        margin-top: 30px;

        span {
            color: $color-white;
        }

        &:hover {
            background-color: $color-white;
            color: $color-black;

            span {
                color: $color-black;
            }
        }
    }

    @media (max-width: $mobile-max-width) {
        flex-direction: column;
        padding-bottom: 20px;
        padding-top: 20px;
        height: auto;

        .text {
            min-width: auto;
        }

        .media {
            max-width: 100%;
            min-height: 200px;
            margin: 0;
            max-height: 600px;
        }

        .btnWrap {
            align-items: center;
            flex-direction: column;

            > a:first-child {
                margin-right: 0;
            }
        }
    }
}
