@import '../../stylesheets/variables';

.content {
    background: #151B24 no-repeat center;
    background-size: cover;
    color: $color-white;
    position: relative;

    .inner {
        @extend %component-wrap;
        height: 100%;
        padding-bottom: 140px;
        padding-top: 140px;
        position: relative;
        width: 100%;

        .text {
            max-width: 465px;

            > div {
                margin-top: 32px;
            }

            h2,
            p {
                background-color: $color-white;
                box-decoration-break: clone;
                box-shadow: 15px 0 0 $color-white, -15px 0 0 $color-white;
                color: $color-text;
                display: inline;
                line-height: 1.6;
            }

            h2 {
                padding: 5px 0 2px;
            }

            p {
                line-height: 1.8;
                margin-bottom: 20px;
            }

            a {
                color: #FFF;
                font-weight: $bold;
                margin-right: 10px;
            }

            &.whiteText {
                h2, p {
                    background: none;
                    box-shadow: none;
                    color: $color-white;
                }
            }
        }

        .btnWrap {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;

            > *:not(:first-child) {
                margin-left: 20px;
            }

            > a {
                padding: 0 32px;

                &[data-type='link'] {
                    color: inherit;
                    font-weight: $bold;
                }

                &:not(:last-child) {
                    margin-right: 46px;
                }
            }
        }
    }

    &[data-observing='true'] {
        .inner {
            @extend %observing;
        }
    }
    &[data-intersection='true'] {
        .inner {
            @extend %intersection;
        }
    }

    @media (max-width: 500px) {
        .inner .btnWrap {
            button,
            a {
                display: block;
                margin: 10px auto !important;
            }
        }
    }

    @media (max-width: $tablet-max-width) {
        min-height: 400px;

        .inner {
            padding-bottom: 70px;
            padding-top: 160px;
        }
    }

    @media (max-width: $mobile-l-width) {
        min-height: 300px;

        .inner {
            padding-bottom: 35px;
        }
    }
}

main > section.content {
    &:first-child {
        align-items: center;
        display: flex;

        .inner {
            align-items: center;
            display: flex;
        }
    }
}

main > section.content:first-child {
    .inner {
        padding-top: 220px;
    }
}
