@import '../../stylesheets/variables';

.content {
    background: black no-repeat center;
    color: #FFF;

    &[data-observing='true'] {
        .inner {
            opacity: 0;
            transform: translate3d(0, 20px, 0);
            transition: .5s 1s;
        }
    }
    &[data-intersection='true'] {
        .inner {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    .inner {
        .component-wrap;
        height: 100%;
        padding-bottom: 200px;
        padding-top: 100px;
        width: 100%;

        .text {
            max-width: 424px;

            h1 {
                margin-bottom: 30px;
            }

            p {
                color: #FFF;
                margin-bottom: 20px;
            }

            .btnWrap {
                align-items: center;
                display: flex;
                justify-content: space-between;
            }

            a {
                color: #FFF;
                margin-right: 10px;
            }
        }
    }

    @media (max-width: @mobile-l-width) {
        margin-bottom: 20px;

        .inner {
            margin-top: 6px;
        }
    }
}
