@import '../../stylesheets/variables';

.content {
    background: no-repeat center;
    color: #FFF;

    &[data-observing='true'] {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        transition: .5s 1s;
    }
    &[data-intersection='true'] {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    .inner {
        .component-wrap;
        height: 100%;
        width: 100%;

        padding-top: 100px;
        padding-bottom: 200px;

        .text {
            max-width: 50%;

            h1 {
                margin-bottom: 30px;
            }

            p {
                color: #FFF;
                margin-bottom: 20px;
            }

            a {
                color: #FFF;
                margin-right: 10px;
            }
        }
    }

    @media (max-width: @mobile-l-width) {
        margin-bottom: 20px;

        .inner {
            margin-top: 6px;
        }
    }
}
