@import '../../stylesheets/variables';

.content {
    background: $color-black no-repeat center;
    background-size: cover;
    color: $color-white;
    position: relative;

    .inner {
        @extend %component-wrap;
        height: 100%;
        padding-bottom: 200px;
        padding-top: 200px;
        position: relative;
        width: 100%;

        .text {
            max-width: 424px;

            > div {
                margin-top: 34px;
            }

            p {
                color: #FFF;
                margin-bottom: 20px;
            }

            a {
                color: #FFF;
                font-weight: $bold;
                margin-right: 10px;
            }

            &.darkText {
                h2, p {
                    background-color: $color-black;
                    box-shadow: 10px 0 0 $color-black, -10px 0 0 $color-black;
                    color: $color-white;
                    display: inline;
                    line-height: 1.4;
                }
            }
        }

        .btnWrap {
            align-items: center;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 47px;

            > a {
                padding: 0 32px;

                &[data-type='link'] {
                    color: inherit;
                    font-weight: $bold;
                }

                &:not(:last-child) {
                    margin-right: 46px;
                }
            }
        }
    }

    &[data-observing='true'] {
        .inner {
            @extend %observing;
        }
    }
    &[data-intersection='true'] {
        .inner {
            @extend %intersection;
        }
    }

    @media (max-width: 500px) {
        .inner .btnWrap a {
            display: block;
            margin: 10px auto !important;
        }
    }

    @media (max-width: $tablet-max-width) {
        .inner {
            padding-bottom: 100px;
            padding-top: 100px;
        }
    }

    @media (max-width: $mobile-l-width) {
        .inner {
            padding-bottom: 50px;
        }
    }
}

main > section.content {
    &:first-child {
        align-items: center;
        display: flex;

        .inner {
            align-items: center;
            display: flex;
        }
    }
}

