@import '../../stylesheets/variables';

.content {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;

    &[data-observing='true'] {
        .text,
        .inner {
            .observing;
        }
    }
    &[data-intersection='true'] {
        .text,
        .inner {
            .intersection;
        }
    }

    .text {
        .component-wrap;
        margin-bottom: 40px;

        > h1,
        > p {
            color: #FFF;
            margin: 20px 0 30px;
        }

        > p {
            margin-bottom: 100px;
        }
    }

    .inner {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    @media (max-width: @mobile-l-width) {
        margin-bottom: 20px;

        .inner {
            margin-top: 6px;
        }
    }
}
