@import '../../stylesheets/variables';

.content {
    background-color: $color-black;
    padding-bottom: 50px;
    padding-top: 50px;

    &[data-observing='true'] {
        .text,
        .inner {
            @extend %observing;
        }
    }
    &[data-intersection='true'] {
        .text,
        .inner {
            @extend %intersection;
        }
    }

    .inner {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: space-evenly;
        width: 100%;
    }

    .text {
        @extend %component-wrap;
        margin-bottom: 40px;

        > h1,
        > p {
            color: #FFF;
            margin: 20px 0 30px;
        }

        > p {
            margin-bottom: 100px;
        }
    }


    @media (max-width: $mobile-l-width) {
        margin-bottom: 20px;

        .inner {
            margin-top: 6px;
        }
    }
}
