//@import './variables';

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

@import '../../node_modules/@mozilla-protocol/core/protocol/css/base/elements/reset';

@import '../../node_modules/@mozilla-protocol/core/protocol/css/base/elements/document';

@import '../../node_modules/@mozilla-protocol/core/protocol/css/base/elements/typography';


html,
body {
    height: 100%;
}

html {
    -webkit-text-size-adjust: none;
    -ms-content-zooming: none;
}

body,
button,
input,
textarea {
    -webkit-font-smoothing: antialiased;
}

button,
textarea {
    appearance: none;
}

textarea {
    resize: none;
}

img {
    vertical-align: top;
}


h1, h2, h3, h4 {
    font-family: "Sharp Sans", "Open Sans", X-LocaleSpecific, sans-serif;
}

a {
    color: $color-black;
    transition: all .1s ease-in-out;

    &:hover {
        color: $color-black;
    }

    &:active {
        color: $color-black;
    }
}

[id='app'] {
    display: flex;
    flex-direction: column;
    height: 100%;

    > div {
        height: 100%;
    }
}

[data-type='link'] {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

main {
    display: block;
}
