@font-face {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 900;
    src: url('../../fonts/SharpSans/SharpSans-Extrabold.woff2') format('woff2'),
    url('../../fonts/SharpSans/SharpSans-Extrabold.woff') format('woff');
}

@font-face {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/SharpSans/SharpSans-Bold.woff2') format('woff2'),
    url('../../fonts/SharpSans/SharpSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/SharpSans/SharpSans-Semibold.woff2') format('woff2'),
    url('../../fonts/SharpSans/SharpSans-Semibold.woff') format('woff');
}


@font-face {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/SharpSans/SharpSans-Medium.woff2') format('woff2'),
    url('../../fonts/SharpSans/SharpSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Sharp Sans';
    font-style: italic;
    font-weight: normal;
    src: url('../../fonts/SharpSans/SharpSans-BookItalic.woff2') format('woff2'),
    url('../../fonts/SharpSans/SharpSans-BookItalic.woff') format('woff');
}

@font-face {
    font-family: 'Sharp Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/SharpSans/SharpSans-Book.woff2') format('woff2'),
    url('../../fonts/SharpSans/SharpSans-Book.woff') format('woff');
}

@font-face {
    font-family: 'Sharp Sans';
    font-weight: 200;
    font-style: normal;
    src: url('../../fonts/SharpSans/SharpSans-Thin.woff2') format('woff2'),
    url('../../fonts/SharpSans/SharpSans-Thin.woff') format('woff');
}


$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

$color-white: white;
$color-black: black;

$color-1: #179AFF;
$color-2: #2E63FD;
$color-3: #B3B8C2;
$color-success: #19A460;
$color-warning: #FEE13D;
$color-error: #FF3F3E;

$color-bg: #F9F8FD;
$color-heading: #303133;
$color-text: #000;
$link-color: #0060DF;

$gradient: linear-gradient(152deg, #189AFF, #2D62FD);

$main-bg: $color-white;
$shadow:0 4px 8px 0 #0000001C;
$shadow-2:0 19px 26px 0 rgba(0, 0, 0, .15);


$totalWidth: 930px;
$numberOfColumns: 12;
$gutter: 15px;

$mobile-l-width: 426px;
$mobile-max-width: 768px;
$desktop-min-width: 769px;
$tablet-max-width: 900px;
$desktop-max-width: 1280px;

$gray-bg: #F9F9FA;
$gray-20: #EDEDF0;

%observing {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    transition: .5s .3s;
}

%intersection {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


%component-wrap {
    margin: 0 auto;
    max-width: $totalWidth + $gutter * 2;
    padding: 0 $gutter;
}

$border-1: #61CCDD;
$border-2: #FE448D;

@mixin btn-large {
    font-size: 16px;
    font-weight: $bold;
    height: 48px;
    line-height: 48px;
    min-width: 172px;
    padding: 0 10px;
}

@mixin btn-medium {
    font-size: 16px;
    font-weight: $bold;
    height: 40px;
    line-height: 40px;
    min-width: 142px;
    padding: 0 10px;
}

@mixin btn-primary {
    background-color: white;
    border: 2px solid $color-black;
    position: relative;

    &:before,
    &:after {
        background-color: $color-black;
        border-radius: 2px;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .15s linear;
        z-index: -1;
    }

    &:before {
        background-color: $border-1;
        transform: translate(0, 0);
    }

    &:after {
        background-color: $border-2;
        transform: translate(0, 0);
    }

    &:hover {
        &:before {
            transform: translate(-4px, -4px);
        }

        &:after {
            transform: translate(4px, 4px);
        }
    }

    span {
        color: $color-black;
    }
}

@mixin btn-secondary {
    background-color: $color-white;
    border: 2px solid $color-black;
    position: relative;

    &:before {
        background-color: $color-black;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .15s linear;
        z-index: -1;
    }

    &:hover:before {
        transform: translate(4px, 4px);
    }

    &.gray {
        background-color: $gray-bg;
    }

    &.dark {
        background-color: $color-white;
        border: 2px solid $color-white;

        span {
            color: $color-black;
        }

        &:hover {
            background-color: $color-black;

            span {
                color: $color-white;
            }
        }
    }

    &.inverted {
        background-color: $color-black;
        border: 2px solid $color-white;
        color: $color-white;

        span {
            transition: all .1s linear;
        }

        &:hover {
            background-color: $color-white;
            color: $color-black;

            span {
                color: $color-black;
            }
        }
    }
}

@mixin btn-filled {
    background-color: $color-black;
    border: 2px solid $color-black;
    color: $color-white;

    span {
        color: $color-white;
    }

    &:hover {
        background-color: $color-white;
        color: $color-black;

        span {
            color: $color-black;
        }
    }
}
