@import '../../stylesheets/variables';

.content {
    background-color: @color-white;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;

    &[data-observing='true'] {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        transition: .5s 1s;
    }
    &[data-intersection='true'] {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    &.dark {
        background-color: unset;

        &:after {
            background-image: linear-gradient(-180deg, #000 17%, rgba(0, 0, 0, 0) 89%);
            content: '';
            height: 30vh;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        .inner .text {
            a {
                color: @color-white;
            }
        }
    }

    .inner {
        .component-wrap;
        align-items: center;
        display: flex;

        .logo {
            display: flex;
            height: 56px;
            justify-content: center;
            margin-right: 24px;

            img {
                max-height: 56px;
            }
        }

        .text {
            a {
                margin-right: 30px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
