@import '../../stylesheets/variables';

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &[data-observing='true'] {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        transition: .5s 1s;
    }
    &[data-intersection='true'] {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    .inner {
        .component-wrap;
        display: flex;
        align-items: center;

        .logo {
            height: 56px;
            margin-right: 30px;

            img {
                max-height: 56px;
            }
        }

        .text {
            a {
                margin-right: 20px ;
                color: #FFF;
                text-decoration: none;
            }
        }
    }

    @media (max-width: @mobile-l-width) {
        margin-bottom: 20px
    }
}
