@import '../../stylesheets/variables';

.content {
    .playIcon {
        background: url('/play-icon.svg') center no-repeat;
        background-size: 80px;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}
