@import '../../stylesheets/variables';

.content {
    background-color: black;
    padding-bottom: 80px;
    padding-top: 50px;

    .inner {
        @extend %component-wrap;
        height: 100%;
        width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    a {
        color: $color-white;
    }

    a {
        text-decoration: none;

        &:hover {
            color: $color-white;
            text-decoration: underline;
        }
    }

    .logo {
        margin-bottom: 56px;

        img {
            height: 32px;
        }
    }

    &[data-observing='true'] {
        @extend %observing;
    }
    &[data-intersection='true'] {
        @extend %intersection;
    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;

        > div {
            margin-bottom: 20px;
            width: 50%;
        }
    }

    .wrap2 {
        border-top: 1px solid rgba(255, 255, 255, .3);
        padding-top: 30px;

        .social {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            a {
                height: 48px;
                width: 48px;

                &:not(:last-child) {
                    margin-right: 8px;
                }

                img {
                    max-width: 16px;
                }
            }
        }

        .text .links {
            display: flex;
            flex-wrap: wrap;

            a {
                font-size: 0.75rem;
                margin-right: 15px;
                white-space: nowrap;
            }
        }
    }

    @media (min-width: $desktop-min-width) {
        padding-bottom: 130px;
        padding-top: 100px;

        .wrap {
            > div {
                width: 25%;
            }
        }

        .wrap2 {
            display: flex;

            .social {
                align-items: flex-end;
                flex: 1;
                justify-content: flex-end;
                margin-top: 0;
            }

            .text {
                > p {
                    margin-bottom: 26px;
                    max-width: 450px;
                }
            }
        }
    }
}
