@import '../../stylesheets/variables';

.content {
    @extend %component-wrap;
    padding-top: 70px;
    padding-bottom: 70px;

    &[data-observing='true'] {
        @extend %observing;
    }
    &[data-intersection='true'] {
        @extend %intersection;
    }

    .inner {
        display: flex;
        height: 100%;
        width: 100%;

        > div {
            width: 50%;
        }

        .text,
        .media {
            color: inherit;
        }

        .text {
            display: flex;
            flex-direction: column;
            //align-items: center;
            justify-content: center;

            [type='submit'] {
                @include btn-primary;
            }
        }
    }
}
