@import '../../stylesheets/variables';

.content {
    padding-bottom: 30px;
    padding-top: 30px;

    &[data-observing='true'] {
        .text,
        .media {
            opacity: 0;
            transform: translate3d(0, 20px, 0);
            transition: .5s 1s;
        }
    }
    &[data-intersection='true'] {
        .text,
        .media {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    .inner {
        display: flex;
        height: 100%;
        width: 100%;

        .text,
        .media {
            color: inherit;
        }

        .text {
            margin-left: 50px;
        }

        .media {
            width: 250px;

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
    }
}
