@import '../../stylesheets/variables';

$width-two: 440px;
$width-two-mobile: 290px;

.content {
    padding-bottom: 25px;
    padding-top: 25px;

    .inner {
        align-items: center;
        border: 3px solid transparent;
        border-radius: 5px;
        display: flex;
        text-decoration: none;
        transition: all .15s ease-in-out;

        .text {
            margin-left: 60px;

            h5 {
                font-size: 1.2rem;
                margin-bottom: 14px;
            }

            h5, p {
                text-decoration: none;
            }
        }

        .media {
            flex: 1 0 auto;
            max-height: 320px;
            max-width: 288px;
            overflow: hidden;

            img {
                height: 100%;
                max-height: 320px;
                object-fit: cover;
                width: 100%;
            }
        }

        &:hover {
            border-color: $color-black;

            .text {
                h5 {
                    text-decoration: underline;
                }
            }
        }
    }

    &.two,
    &.three {
        margin-left: $gutter;
        margin-right: $gutter;

        .inner {
            flex-direction: column;
            max-width: 250px;

            .media {
                max-width: 100%;
            }

            .text {
                margin: 35px 8px 8px;
            }
        }
    }

    &.two .inner {
        max-width: $width-two;
    }

    &.dark .inner:hover {
        border-color: $color-white;
    }

    @media (max-width: 940px) {
        &.two,
        &.three,
        &.single {
            margin-left: $gutter;
            margin-right: $gutter;

            .inner {
                flex-direction: column;
                max-width: $width-two-mobile;

                .media {
                    max-width: 100%;
                }

                .text {
                    margin: 35px 8px 8px;
                }
            }
        }
    }
}
