@import '../../stylesheets/variables';

.content {
    padding-bottom: 25px;
    padding-top: 25px;

    &[data-observing='true'] {
        .text,
        .media {
            opacity: 0;
            transform: translate3d(0, 20px, 0);
            transition: .5s 1s;
        }
    }
    &[data-intersection='true'] {
        .text,
        .media {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    .inner {
        align-items: center;
        border: 3px solid transparent;
        border-radius: 5px;
        display: flex;
        transition: all .15s ease-in-out;

        &:hover {
            border-color: @color-white;
        }

        .text {
            margin-left: 50px;

            h1, h2, h3, h4 {
                margin-bottom: 14px;
            }
        }

        .media {
            flex: 1 0 auto;
            width: 250px;

            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
            }
        }
    }
}
