@import '../../stylesheets/variables';

$fill-color: red;

.content {
    @extend %component-wrap;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 50px;
    text-decoration: none;

    &[data-observing='true'] {
        @extend %observing;
    }
    &[data-intersection='true'] {
        @extend %intersection;
    }

    .text {
        margin-top: 40px;
        padding-top: 20px;

        h1,
        p {
            margin-bottom: 30px;
        }

        h1 {
            position: relative;
            z-index: 1;

            &:before {
                background-color: $fill-color;
                content: '';
                display: block;
                height: 8px;
                transform: translateY(-10px);
                transition: all .15s linear;
                width: 0;
                will-change: width;
            }
        }
    }

    .media {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 2;

        &:before {
            background: $fill-color;
            bottom: 0;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: all .15s ease-in-out;
            width: 100%;
            z-index: -1;
        }

        img {
            object-fit: contain;
            z-index: 1;
        }
    }

    &:hover {
        .text h1:before {
            width: 64px;
        }

        .media {
            &:before {
                transform: translate(10px, 10px);
            }
        }
    }

    @media (min-width: $desktop-min-width) {
        flex-direction: row;

        .media {
            justify-content: flex-end;
            order: 2;
        }

        .text {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto 0 0;
            max-width: ($totalWidth - 2*$gutter)/ 2;
            order: 1;
            padding: 0 30px 0 0;
        }

        &.right {
            .text {
                margin: 0;
                padding: 0 0 0 30px;
            }

            .media {
                justify-content: flex-start;
                margin: 0 auto 0 0;
                order: 1;
            }
        }
    }
}
