@import '../../stylesheets/variables';

.content {
    &[data-observing='true'] {
        .observing;
    }
    &[data-intersection='true'] {
        .intersection;
    }

    .inner {
        .component-wrap;
        padding-bottom: 100px;
        padding-top: 100px;

        .text {
            margin-bottom: 100px;

            h1 {
                margin-bottom: 30px;
            }

            p {
                margin-bottom: 20px;
            }
        }
    }
}
