@import '../../stylesheets/variables';

.content {
    &[data-observing='true'] {
        .observing;
    }
    &[data-intersection='true'] {
        .intersection;
    }

    .inner {
        .component-wrap;
        padding-bottom: 100px;
        padding-top: 100px;

        .text {
            margin-bottom: 100px;

            h1 {
                margin-bottom: 30px;
            }

            p {
                margin-bottom: 20px;
            }
        }

        video {
            max-width: 100%;
        }

        .container {
            margin: 0 auto;
            overflow: hidden;

            .wrapper {
                box-sizing: content-box;
                display: flex;
                height: 100%;
                position: relative;
                transition-property: transform;
                z-index: 1;

                .slide {
                    flex-shrink: 0;
                    height: 100%;
                    position: relative;
                    transition-property: transform;
                    width: 330px;
                }
            }

        }
    }

    .active,
    .next,
    .prev {
        color: inherit;
    }

    // todo desktop display none
    .slider-btn-prev,
    .slider-btn-next {
        align-items: center;
        border-radius: 100%;
        cursor: pointer;
        display: flex;
        height: 50px;
        justify-content: center;
        position: absolute;
        top: 50%;
        width: 50px;
        z-index: 10;

        svg path {
            fill: @color-black;
            transition: all .2s ease-in-out;
        }

        &:hover svg path {
            fill: @color-black;
        }

        &.disabled svg path {
            fill: #CCC;
        }
    }

    .slider-btn-prev {
        left: 10px;
        transform: translateY(50%);
    }

    .slider-btn-next {
        right: 10px;
        transform: translateY(50%) rotate(180deg);
    }

    .slider-pagination {
        margin-top: 60px;
        text-align: center;

        .bullet {
            display: inline-block;
            height: 0;
            opacity: 1;
            padding: 20px;
            position: relative;
            transition: padding .15s linear, opacity .15s .15s linear;
            width: 0;

            &:after {
                border-radius: 100%;
                box-shadow: inset 0 0 0 2px @color-black;
                content: '';
                height: 20px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: box-shadow .15s ease-in-out;
                width: 20px;
            }

            &.active:after {
                box-shadow: inset 0 0 0 10px @color-black;
            }
        }
    }
}
